{% extends 'base/base.html' %} {% block content%}

<section class="hero-home">
    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
            <div class="swiper-slide" style="background-image:url(https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/photo/photo-1501621965065-c6e1cf6b53e2.jpg)">
            </div>
            <div class="swiper-slide" style="background-image:url(https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/photo/photo-1519974719765-e6559eac2575.jpg)">
            </div>
            <div class="swiper-slide" style="background-image:url(https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/photo/photo-1490578474895-699cd4e2cf59.jpg)">
            </div>
            <div class="swiper-slide" style="background-image:url(https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/photo/photo-1534850336045-c6c6d287f89e.jpg)">
            </div>
        </div>
    </div>
    <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="text-center  " style="background-color: rgba(0, 0, 0, 0.336); border-radius: 50px;">
                    <p class="subtitle letter-spacing-4 mb-2  text-white">Te ayudamos a encontrar </p>
                    <h1 class="display-3 font-weight-bold text-shadow">La casa de tus suenios</h1>
                </div>
                <!--
                <div class="search-bar mt-5 p-3 p-lg-1 pl-lg-4">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-4 d-flex align-items-center form-group">
                                <input class="form-control border-0 shadow-0" type="text" name="search"
                                    placeholder="What are you searching for?">
                            </div>
                            <div class="col-lg-3 d-flex align-items-center form-group">
                                <div class="input-label-absolute input-label-absolute-right w-100">
                                    <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i><span
                                            class="sr-only">City</span></label>
                                    <input class="form-control border-0 shadow-0" type="text" name="location"
                                        placeholder="Location" id="location">
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex align-items-center form-group no-divider">
                                <select class="selectpicker" title="Categories" data-style="btn-form-control">
                                    <option value="small">Restaurants</option>
                                    <option value="medium">Hotels</option>
                                    <option value="large">Cafes</option>
                                    <option value="x-large">Garages</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary btn-block rounded-xl h-100" type="submit">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-gray-100">
    <div class="container">
        <div class="text-center pb-lg-4">
            <p class="subtitle text-secondary"></p>
            <h2 class="mb-5">Encontrar tu casa nunca fue tan facil</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                <div class="px-0 px-lg-3">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <svg class="svg-icon text-primary w-2rem h-2rem">
                            <use xlink:href="#destination-map-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h5">La mejor ubicacion</h3>
                    <p class="text-muted">Tenemos muchas ubicaciones para que vivas cerca de tu trabajo, escuela o familia.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                <div class="px-0 px-lg-3">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <svg class="svg-icon text-primary w-2rem h-2rem">
                            <use xlink:href="#pay-by-card-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h5">Facilidad de pago</h3>
                    <p class="text-muted">Te ayudamos adquirir una propiedad de contado, credito bancario o INFONAVIT.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                <div class="px-0 px-lg-3">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <svg class="svg-icon text-primary w-2rem h-2rem">
                            <use xlink:href="#heart-1"> </use>
                        </svg>
                    </div>
                    <h3 class="h5">Para toda la familia</h3>
                    <p class="text-muted">Tenemos la propiedad perfecta para una familia chica, una familia grande o una familia en el futuro.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.imghome {
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: auto;
    height: 250px;
}
</style>

<!-- TARJETAS DE CASAS -->
{% if casas %}
<section class="py-5 bg-gray-100">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8">
                <p class="subtitle text-secondary">No dejes que te ganen </p>
                <h2>La casa de tus sueños</h2>
            </div>
            <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="/"> Mira todos nuestros inmuebles<i class="fas fa-angle-double-right ml-2"></i></a></div>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative swiper-init pt-3" data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:true,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}">
            <!-- Additional required wrapper-->
            <div class="swiper-wrapper pb-5">
                <!-- Slides-->
                {% for i in casas%}
                <div class="swiper-slide h-auto px-2">
                    <!-- place item-->
                    <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                        <div class="card h-100 border-0 shadow">

                            <div class="ribbon ribbon-top-left">
                                {% if i.termino %}
                                <span><small> OCUPADA </small></span> {% else %}
                                <span>{{i.tipo_contrato}}</span> {% endif %}
                            </div>


                            <div class="card-img-top overflow-hidden gradient-overlay">
                                {% if i.imagen %}
                                <img class="img-fluid imghome" {% if i.termino %} style="filter: grayscale(100%); height: 250px; object-fit: cover;" {% else %} style="height: 250px; object-fit: cover;" {% endif %} src="{{i.imagen.url}}" alt="{{i.imagen.alt}}" />
                                <a class="tile-link" href="{% url 'detalles_casa' i.id %}"></a>
                                {% endif %} {% if i.termino == False %}
                                <div class="card-img-overlay-bottom z-index-20">
                                    <div class="media text-white text-sm align-items-center">
                                        <div class="media-body">
                                            <p class="card-text text-muted text-center" style="background-color: #ffffffd0;">

                                                <span class="h4 text-primary">${{i.precio|floatformat:2}}</span>
                                                <strong>MXN </strong>

                                            </p>
                                        </div>
                                    </div>
                                </div>{% endif %}
                            </div>
                            <div class="card-body d-flex align-items-center">
                                <div class="w-100">
                                    <h6 class="card-title" style="padding-bottom: .5em;">
                                        <a class="text-decoration-none text-dark" style="font-size: 18px;" href="#">Casa
                                            en {{ i.colonia }} - {{i.ciudad}} </a>
                                    </h6>
                                    <div class="d-flex card-subtitle mb-3">
                                        <ul style="padding-left: 0;">
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fa fa-home"></i> <small>Metros de Construccion</small>
                                                    <strong>{{i.m2_construccion}} m²</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-mountain"></i> <small>Metros de Terreno</small>
                                                    <strong>{{i.m2_terreno}} m²</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-person-booth"></i> <small>Recamaras</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-bath"></i> <small>Banios</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-car"></i> <small>Estacionamiento</small>
                                                    <strong>{{i.estacionamiento}}</strong>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- If we need pagination-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endif %}

<!-- TARJETAS DE DEPARTAMENTOS -->
{% if departamentos %}
<section class="py-5 bg-gray-100">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8">
                <p class="subtitle text-secondary">No dejes que te ganen </p>
                <h2>El departamento de tus sueños</h2>
            </div>
            <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="/"> Mira todos nuestros inmuebles<i class="fas fa-angle-double-right ml-2"></i></a></div>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative swiper-init pt-3" data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:true,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}">
            <!-- Additional required wrapper-->
            <div class="swiper-wrapper pb-5">
                <!-- Slides-->
                {% for i in departamentos%}
                <div class="swiper-slide h-auto px-2">
                    <!-- place item-->
                    <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                        <div class="card h-100 border-0 shadow">

                            <div class="ribbon ribbon-top-left">
                                <span>{{i.tipo_contrato}}</span>
                            </div>


                            <div class="card-img-top overflow-hidden gradient-overlay">

                                {% if i.imagen %}

                                <img class="img-fluid imghome" {% if i.termino %} style="filter: grayscale(100%); height: 250px; object-fit: cover;" {% else %} style=" height: 250px; object-fit: cover;" {% endif %} src="{{i.imagen.url}}" alt="{{i.imagen.alt}}" />
                                <a class="tile-link" href="{% url 'detalles_depa' i.id %}"></a>

                                {% endif %}
                                <div class="card-img-overlay-bottom z-index-20">
                                    <div class="media text-white text-sm align-items-center">
                                        <div class="media-body">
                                            <p class="card-text text-muted text-center" style="background-color: #ffffffd0;">
                                                <span class="h4 text-primary">${{i.precio|floatformat:2}}</span>
                                                <strong>MXN </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex align-items-center">
                                <div class="w-100">
                                    <h6 class="card-title" style="padding-bottom: .5em;">
                                        <a class="text-decoration-none text-dark" style="font-size: 18px;" href="#">Depa
                                            en {{ i.colonia }} - {{i.ciudad}} </a>
                                    </h6>
                                    <div class="d-flex card-subtitle mb-3">
                                        <ul style="padding-left: 0;">
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fa fa-home"></i> <small>Metros de Construccion</small>
                                                    <strong>{{i.m2_construccion}} m²</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-mountain"></i> <small>Nivel</small>
                                                    <strong>{{i.nivel}} </strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-person-booth"></i> <small>Recamaras</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-bath"></i> <small>Banios</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-car"></i> <small>Estacionamiento</small>
                                                    <strong>{{i.estacionamiento}}</strong>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- If we need pagination-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endif %}

<!-- TARJETAS DE COMERCIO -->
{% if comercio %}
<section class="py-5 bg-gray-100">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8">
                <p class="subtitle text-secondary">No dejes que te ganen </p>
                <h2>El local de tus sueños</h2>
            </div>
            <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="/"> Mira todos nuestros inmuebles<i class="fas fa-angle-double-right ml-2"></i></a></div>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative swiper-init pt-3" data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:true,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}">
            <!-- Additional required wrapper-->
            <div class="swiper-wrapper pb-5">
                <!-- Slides-->
                {% for i in comercio%}
                <div class="swiper-slide h-auto px-2">
                    <!-- place item-->
                    <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                        <div class="card h-100 border-0 shadow">

                            <div class="ribbon ribbon-top-left">
                                <span>{{i.tipo_contrato}}</span>
                            </div>


                            <div class="card-img-top overflow-hidden gradient-overlay">

                                {% if i.imagen %}

                                <img class="img-fluid imghome" {% if i.termino %} style="filter: grayscale(100%);  height: 250px; object-fit: cover;" {% else %} style=" height: 250px; object-fit: cover;" {% endif %} src="{{i.imagen.url}}" alt="{{i.imagen.alt}}" />
                                <a class="tile-link" href="{% url 'detalles_comercio' i.id %}"></a>

                                {% endif %}
                                <div class="card-img-overlay-bottom z-index-20">
                                    <div class="media text-white text-sm align-items-center">
                                        <div class="media-body">
                                            <p class="card-text text-muted text-center" style="background-color: #ffffffd0;">
                                                <span class="h4 text-primary">${{i.precio|floatformat:2}}</span>
                                                <strong>MXN </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex align-items-center">
                                <div class="w-100">
                                    <h6 class="card-title" style="padding-bottom: .5em;">
                                        <a class="text-decoration-none text-dark" style="font-size: 18px;" href="#">Comercio
                                            en {{ i.colonia }} - {{i.ciudad}} </a>
                                    </h6>
                                    <div class="d-flex card-subtitle mb-3">
                                        <ul style="padding-left: 0;">
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fa fa-home"></i> <small>Metros de Construccion</small>
                                                    <strong>{{i.m2_construccion}} m²</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-mountain"></i> <small>Nivel</small>
                                                    <strong>{{i.nivel}} </strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-person-booth"></i> <small>Recamaras</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-bath"></i> <small>Banios</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-car"></i> <small>Estacionamiento</small>
                                                    <strong>{{i.estacionamiento}}</strong>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- If we need pagination-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endif %}

<!-- TARJETAS DE TERRENOS -->
{% if terreno %}
<section class="py-5 bg-gray-100">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8">
                <p class="subtitle text-secondary">No dejes que te ganen </p>
                <h2>El Terreno de tus sueños</h2>
            </div>
            <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="/"> Mira todos nuestros inmuebles<i class="fas fa-angle-double-right ml-2"></i></a></div>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative swiper-init pt-3" data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:true,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}">
            <!-- Additional required wrapper-->
            <div class="swiper-wrapper pb-5">
                <!-- Slides-->
                {% for i in terreno%}
                <div class="swiper-slide h-auto px-2">
                    <!-- place item-->
                    <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                        <div class="card h-100 border-0 shadow">

                            <div class="ribbon ribbon-top-left">
                                <span>{{i.tipo_contrato}}</span>
                            </div>


                            <div class="card-img-top overflow-hidden gradient-overlay">

                                {% if i.imagen %}

                                <img class="img-fluid imghome" {% if i.termino %} style="filter: grayscale(100%);  height: 250px; object-fit: cover;" {% else %} style=" height: 250px; object-fit: cover;" {% endif %} src="{{i.imagen.url}}" alt="{{i.imagen.alt}}" />
                                <a class="tile-link" href="{% url 'detalles_terreno' i.id %}"></a>

                                {% endif %}
                                <div class="card-img-overlay-bottom z-index-20">
                                    <div class="media text-white text-sm align-items-center">
                                        <div class="media-body">
                                            <p class="card-text text-muted text-center" style="background-color: #ffffffd0;">
                                                <span class="h4 text-primary">${{i.precio|floatformat:2}}</span>
                                                <strong>MXN </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex align-items-center">
                                <div class="w-100">
                                    <h6 class="card-title" style="padding-bottom: .5em;">
                                        <a class="text-decoration-none text-dark" style="font-size: 18px;" href="#">Terreno
                                            en {{ i.colonia }} - {{i.ciudad}} </a>
                                    </h6>
                                    <div class="d-flex card-subtitle mb-3">
                                        <ul style="padding-left: 0;">
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fa fa-home"></i> <small>Metros de Construccion</small>
                                                    <strong>{{i.m2_construccion}} m²</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-mountain"></i> <small>Nivel</small>
                                                    <strong>{{i.nivel}} </strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-person-booth"></i> <small>Recamaras</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-bath"></i> <small>Banios</small>
                                                    <strong>{{i.num_habitaciones}}</strong>
                                                </p>
                                            </li>
                                            <li style="list-style-type: none;">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fas fa-car"></i> <small>Estacionamiento</small>
                                                    <strong>{{i.estacionamiento}}</strong>
                                                </p>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- If we need pagination-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endif %}

<!-- Divider Section-->
<section class="py-7 position-relative dark-overlay"><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/photo/photo-1497436072909-60f360e1d4b1.jpg" alt="">
    <div class="container">
        <div class="overlay-content text-white py-lg-5">
            <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5">Ready for your next holidays?</h3><a class="btn btn-light" href="category-rooms.html">Get started</a>
        </div>
    </div>
</section>






{% endblock %}